.table {
  width: 100%;
  font-size: 18px;
  text-align: center;
}

.header {
  background-color: rgb(24, 22, 163);
  color: wheat;
  font-size: 24px;
}

.row:nth-child(n) {
  background-color: wheat;
  color: black;
}

.row:nth-child(2n) {
  background-color: rgb(140, 195, 237);
  color: black;
}

.cell {
  padding: 20px 0;
}
